<!-- footer -->

<footer id="footer">
  <div class="footer-div" >
    <table class="table">
      <tr>
        <td ><h5 style="color:#D6E4E5;">
          <ul class="footer-ul">
            <li>
            Contact

          </li>
          <li>
          <br>
        </li>
          <li>
          +91 9901881459
        </li>
          </ul>

          <!-- map -->
        <td>
          <h6>
          <a href="https://www.google.com/maps/dir/12.9614647,77.7108574/the+super+30+cafe/@12.9598181,77.7075738,17z/data=!3m1!4b1!4m9!4m8!1m1!4e1!1m5!1m1!1s0x3bae1372643f3d97:0xb6f5a83d2db4bc49!2m2!1d77.7086676!2d12.9576891" target="_self">
          <img src="google-maps.png" alt="" style="width:30px">
        </a>
      </h6>
    </td>

    <!-- facebook -->
        <td>
          <h5>
          <a href="https://www.facebook.com/Super30Cafe/" >
          <img src="facebook1.png"style="Width:30px">
        </a>
      </h5>
    </td>

    <!-- instagram -->
        <td>
          <h5>
          <a href="https://www.facebook.com/Super30Cafe/" >
          <img src="instagram.png" style="Width:30px">
        </a>
      </h5>
      </td>
    </tr>
    </table>



  </div>
    <div class="center">

        Copyright &copy; www.Super30cafe.com
        <br> All rights reserved!
    </div>
</footer>


</body>
</html>
