<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Super 30 cafe</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" type="text/javascript">
    </script>
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Aclonica&family=Great+Vibes&family=Lobster+Two:ital@1&display=swap" rel="stylesheet">
    <style> @import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Great+Vibes&family=Lobster+Two:ital@1&display=swap'); </style>
  </head>
  <body>
    <!-- title section -->

    <section id="title">
        <img src="homepage.jpg" class="homepage" alt="">
      <div class="container-fluid">

        <!-- nav bar -->
        <div class="nav-bar">
        <nav class="navbar navbar-expand-lg navbar-dark shift" >

            <button class="navbar-toggler toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbartogglerdemo02" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbartogglerdemo02">
            <ul class="navbar-nav  navbar-text">
                <li class="nav-item">
                  <a class="nav-link" href="#title">
                    <h2 class="navbar-text">
                      Home
                    </h2>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#about">
                    <h2 class="navbar-text">
                      About
                    </h2>
                  </a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="menu.html">
                    <h2 class="navbar-text">
                      Menu
                    </h2>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#testimonials">
                    <h2 class="navbar-text">
                      Reviews
                    </h2>
                  </a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="#footer">
                    <h2 class="navbar-text">
                      Contact
                    </h2>
                    </a>
                  </li>

              </ul>
            </div>
            </nav>
          </div>

      </div>
      <div class="icon-text">
        Super 30 Cafe
        <h6>Litti Chokha Specialist</h6>
        <br>

         <div class="buttons">
          <button type="button " class=" btn btn-dark">
            <a href="https://www.swiggy.com/restaurants/super-30-cafe-spice-garden-layout-marathahalli-bangalore-598547">
              <img src="swiggy.png" style="Width:80px" alt="">
            </a>
          </button>

          <button type="button " class=" btn btn-dark">
            <a href="https://www.zomato.com/bangalore/super30-cafe-bellandur-bangalore">
              <img src="zomato.png" style="width:80px; " alt="">
            </a>
          </button>

        </div>

      </div>
    </section>

    <!-- about -->
    <section id="about">
      <div class="about row about">
        <div class="col-lg-6 col1">

          <img src="liti1.jpg" class="pic2"alt="" style="margin-left:5%;">

        </div>

        <div class="col-lg-6 ">
        <div class="col2">
          <h1 style=" font-size:3.7rem;" >
            <b>
            Welcome to Super 30 Cafe
          </b>
        </h1>

        <h3 style="padding:5%; ">
          Super 30 Cafe is a food venture started in 2018 in order
          to serve delicious and hygienic authentic North Indian & Bihari food to the people of Bangalore
          <br><br>
          <p>Their most loved dish from the <br>  menu is Litti Chokha
          </p>

        </h3>


        </div>

        </div>
      </div>

    </section>


    <!-- review -->
    <section id="testimonials">

      </div>

      <div id="carouselExampleControls" class="carousel slide carousel1" data-bs-ride="false" data-bs-interval="1000" data-bs-pause="hover">
        <div class="carousel-inner">
          <div class="carousel-item active " style="padding-top:7%;">

            <h2>This place is little bit inside from the road but it is a 💎
              <br>Just loved the vibe of this place.
              <br>Beutiful painting and outdoor sitting is really good.
              <br>The chicken was mouth watering.
              <br>I just loved it.</h2>
              <br><br>
            <img class="testimonial-image" src="profile-pic1.png" alt="custumer-profile">
            <h5>Aniruddha Pandit</h5>
          </div>

          <div class="carousel-item" style="padding-top:10%;">

            <h2 class="testimonial-text">
              <br>Good food at a reasonable price 👌🏻
              <br>You must try their litty cokha it is amazing.</h2>
              <br><br>
            <img class="testimonial-image" src="profile-pic2.jpg" alt="custumer-profile">
            <h5>Soumya Ranjan Mishra</h5>
          </div>

          <!-- REVIEW 3:  -->
          <div class="carousel-item" style="padding-top:10%;">

            <h2 class="testimonial-text">
              <br>Good food at a reasonable price 👌🏻
              <br>You must try their litty cokha it is amazing.</h2>
              <br><br>
            <img class="testimonial-image" src="profile-pic3.png" alt="custumer-profile">
            <h5>Pankaj Malik</h5>
          </div>

        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>

      </div>

    </section>

    <!-- footer -->

    <footer id="footer">
      <div class="footer-div" >
        <table class="table">
          <tr>
            <td ><h5 style="color:#D6E4E5;">
              <ul class="footer-ul">
                <li>
                Contact

              </li>
              <li>
              <br>
            </li>
              <li>
              +91 9901881459
            </li>
              </ul>

              <!-- map -->
            <td>
              <h6>
              <a href="https://www.google.com/maps/dir/12.9614647,77.7108574/the+super+30+cafe/@12.9598181,77.7075738,17z/data=!3m1!4b1!4m9!4m8!1m1!4e1!1m5!1m1!1s0x3bae1372643f3d97:0xb6f5a83d2db4bc49!2m2!1d77.7086676!2d12.9576891" target="_self">
              <img src="google-maps.png" alt="" style="width:30px">
            </a>
          </h6>
        </td>

        <!-- facebook -->
            <td>
              <h5>
              <a href="https://www.facebook.com/Super30Cafe/" >
              <img src="facebook1.png"style="Width:30px">
            </a>
          </h5>
        </td>

        <!-- instagram -->
            <td>
              <h5>
              <a href="https://www.facebook.com/Super30Cafe/" >
              <img src="instagram.png" style="Width:30px">
            </a>
          </h5>
          </td>
        </tr>
        </table>



      </div>
        <div class="center">

            Copyright &copy; www.Super30cafe.com
            <br> All rights reserved!
        </div>
    </footer>


  </body>
</html>
