#title{
  color: #fff;
  height: 100vh;

}
#about{
  background-image: url("background1.jpg") ;
}

.about{
    text-align: center;
    width:100%;
    height: 100vh;
    background-color:#ff0089;
    color: #FFFBEB;
}

#testimonials{
  height: 100vh;
  color: #fff;
  text-align: center;
  background-color:#121214;
}

#footer{
  background-color: #18181c;
  color:white;
  text-align: center;
  padding-bottom: 5%;
}


/* navbar */
.nav-bar{
  margin: 0;
  position: fixed;
  z-index: 100;
  font-family:sans-serif;
}

/* Super30Cafe */
.icon-text{
  text-align: right;
  position: absolute;
  top:30%;
  right: 12%;
  font-size: 3.2rem;
  font-family: 'Aclonica', sans-serif;
}

/* backgroundImage */
.homepage{
  position: absolute;
  z-index: -5;
  width: 100%;
  height: 100%;
  filter: brightness(40%);
}

.pic2{
  filter: blur(100);
  position: static;
  left: 5%;
  border-radius:5%;
}
.about{
  width: 100%;
  background-color: #18181c;
  text-align: right;
  margin-bottom: 50;

}
.col1{
  padding: 7%;
}
.col2{
  padding-left: 15%;
  padding-right: 10%;
  padding-top:15%;
  color: #fff;

}
.carousel1{
    padding:10% 15%;
    position: relative;
}

.testimonial-image{
  border-radius: 60%;
  width:10%;
  margin-bottom: 3%;
}

.footer-ul{
  text-align: left;
}

.footer-div{
  padding: 3% 10%;

}
.center{
  text-align: center;
}

h1{
  font-family: 'Great Vibes', cursive;
}
h2{

font-family: 'Courgette';
}

h3{
  font-family: 'East Sea Dokdo', cursive;
}

h5{
    font-family: 'East Sea Dokdo', cursive;
}
hr{
  margin-left: auto;
        margin-right: auto;
}
td{

}

ul{
  list-style: none;
}


nav ul {
  list-style: none;
  text-align: center;
}
nav ul li {
  display: inline-block;
}
nav ul li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #ECE8DD;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0 10px;
}
nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .5s;
}
nav ul li a:hover {
  color: #ECE8DD;
}


/* SHIFT */
nav.shift ul li a {
  position:relative;
  z-index: 1;
}
nav.shift ul li a:hover {
  color: #91640F;
}
nav.shift ul li a:after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 1px;
  content: '.';
  color: transparent;
  background: #1A120B;
  visibility: none;
  opacity: 0;
  z-index: -1;
}
nav.shift ul li a:hover:after {
  opacity: 1;
  visibility: visible;
  height: 100%;
}



/* Keyframes */
@-webkit-keyframes fill {
  0% {
    width: 0%;
    height: 1px;
  }
  50% {
    width: 100%;
    height: 1px;
  }
  100% {
    width: 100%;
    height: 100%;
    background: #333;
  }
}

/* Keyframes */
@-webkit-keyframes circle {
  0% {
    width: 1px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    height: 1px;
    z-index: -1;
    background: #eee;
    border-radius: 100%;
  }
  100% {
    background: #aaa;
    height: 5000%;
    width: 5000%;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 0;
  }
}
